<html class="dt">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navbar">
            <a href="/">Home Page</a>
            <a href="/newDeveloper">New Developer</a>
            <a href="/getDevelopers">List Developers</a>
            <a href="/newTask">New Task</a>
            <a href="/listTask">List Task</a>
            <a href="/deleteTask">Delete Task</a>
            <a href="/updateTask">Update Task</a>
</div>
    <form action="/deleteTask" method="POST">
        Task ID <input type="text" method="POST" name="id" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
    <form action="/deleteAll" method="POST">
        
        <input type="submit" value="Delete Completed Tasks" /> </br>
    </form>
</body>
</html>