<!DOCTYPE html>
<html class="developerss">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="main.js"></script>
</head>
<body>
        <div class="navbar">
                <a href="/">Home Page</a>
                <a href="/newDeveloper">New Developer</a>
                <a href="/getDevelopers">List Developers</a>
                <a href="/newTask">New Task</a>
                <a href="/listTask">List Task</a>
                <a href="/deleteTask">Delete Task</a>
                <a href="/updateTask">Update Task</a>
</div>
    </br>
    <table>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Level</td>
                <td>Address</td>
            </tr>
            <% for ( let i = 0; i< labDB.length;i++){ %>
                <tr>
                    <td>
                        <%= labDB[i].id %>
                    </td>
                    <td>
                        <%= labDB[i].name.firstName %>
                    </td>
                    <td>
                        <%= labDB[i].name.lastName %>
                    </td>
                    <td>
                        <%= labDB[i].level %>
                    </td>
                    <td>
                        <%= labDB[i].address %>
                    </td>
                </tr>
                <%}%>
    </table>
</body>
</html>