<!DOCTYPE HTML>

<html class="home">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>MK11</title>

	<link rel="stylesheet" href="styles.css">
</head>

	<body>
		<img src="mk.png" alt="">
		<div class="navbar">
						<a href="/">Home Page</a>
						<a href="/newDeveloper">New Developer</a>
						<a href="/getDevelopers">List Developers</a>
						<a href="/newTask">New Task</a>
						<a href="/listTask">List Task</a>
						<a href="/deleteTask">Delete Task</a>
						<a href="/updateTask">Update Task</a>
		</div>
	</body>

</html>